
<div class="container">
  <br>
  <div class="row">
      <div class="col-4">
        <button class="btn btn-secondary" [routerLink]="['/note']">Notes</button>
        <button class="btn btn-secondary" style="margin-left: 40px" [routerLink]="['/weather']">Weather</button>
        <a class="btn btn-secondary" style="margin-left: 40px" [routerLink]="['/game']">Game</a>
      </div>
      <div class="col-4">
      </div>
      <div class="col-4 ">
        <div class="text-white">
            {{currentTime | date:'mediumTime'}}
        </div>
      </div>
   
 <div>
  
                <router-outlet></router-outlet>
 </div> 
</div>
</div>




 

